$toolbar-border-color: rgba(255,253,253,1);
$toolbar-vertical-spacing: 0;
$toolbar-footer-horizontal-spacing: 0;
$toolbar-scroller-top-margin: 0;
$toolbar-scroller-right-margin: 0;
$toolbar-scroller-bottom-margin: 0;
$toolbar-scroller-left-margin: 0;
$button-toolbar-border-color: rgba(255,255,255,1);
$button-toolbar-background-color: rgba(255,255,255,1);
$button-toolbar-background-color-over: rgba(120,178,254,1);